{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}

{% extends '@EasyAdmin/page/content.html.twig' %}

{% block main %}

	<style>
		.content-header {
			display: none;
		}
		.content-wrapper {
			width: 100%;
			background-image: url('https://images.pexels.com/photos/403575/pexels-photo-403575.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
			background-size: cover;
		}
		.content {
			margin-top: 5%;
			text-align: center;
		}
		h1 {
			font-weight: bold;
			font-size: 3rem;
		}
		.Catégories {
			text-align: center;
		}
		.newCat {
			width: 100%;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-evenly;
		}
		.col-2 {
			background-color: rgba(169, 169, 169, 0.52);
			display: flex;
			flex-direction: column;
			align-items: center;
			text-align: center;
			margin: 3% 1% 1%;
			padding: 0;
			border-radius: 10px;
		}
		form {
			width: 100%;
			display: flex;
		}
		.SupprimCat {
			background-color: #AB0104;
			border: none;
			padding: 2%;
			border-bottom-right-radius: 10px;
			border-bottom-left-radius: 10px;
			width: 100%;
			color: white;
		}
		.newCategory {
			margin-top: 5%;
		}
		.row {
			width: 85%;
			margin: 5% auto;
			display: flex;
			flex-direction: row;
		}
		h4 {
			font-size: inherit;
			margin-top: 5%;
			height: -webkit-fill-available;
			font-weight: 500;
		}
		label {
			display: none;
		}
		.btn {
			color: white;
			margin-left: 2%;
			font-size: smaller;
			background-color: blue;
		}
	</style>


	<div class="container">
		<div class="newCat">
			<div class="content">
				<h1 class="Catégories">{{totalCat}}
					Catégories</h1>
			</div>
			<i id="AddCat" class="fas fa-plus-circle" style="font-size:70px; color:blue"></i>
			<div class="newCategory">
				{{ form_start(form) }}
				{{ form_widget(form) }}
				<button class="btn">{{ button_label|default('Ajouter') }}</button>
				{{ form_end(form) }}
			</div>
		</div>
		<div class="row">
			{% for AllCategory in AllCategorys %}
				<div class="col-2">
					<h4>{{AllCategory.category}}</h4>
					<form method="post" action="{{ path('admin_category_fichier_delete', {'id': AllCategory.id}) }}" onsubmit="return confirm('Etes vous sur de vouloir supprimer cette catégorie ?');">
						<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ AllCategory.id) }}">
						<button class="SupprimCat">Supprimer</button>
					</form>
				</div>
			{% endfor %}
		</div>
	</div>
	<script src="{{ asset ("assets/js/newCategory.js")}}"></script>
{% endblock %}
