{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block main %}

	<style>
		.content-header {
			display: none;
		}
		.content-wrapper {
			width: 100%;
			background-color: #E7E5E1;
			background-size: cover;
		}
		.content {
			margin-top: 5%;
			text-align: center;
		}
		h1 {
			font-weight: bold;
			font-size: 3rem;
			margin-bottom: 5%;
		}
		.col-3 {
			background-color: rgba(169, 169, 169, 0.4);
			display: flex;
			flex-direction: column;
			align-items: center;
			text-align: center;
			margin: 3%;
			border-radius: 10px;
		}
		.adminImgFichier {
			width: 100%;
			padding: 0;
			border-top-left-radius: 10px;
			border-top-right-radius: 10px;
			margin-bottom: 5%;
		}
		p {
			height: -webkit-fill-available;
			font-weight: 500;
		}
		.fichierdelete {
			background-color: #AB0104;
			border: none;
			padding: 6%;
			border-bottom-right-radius: 10px;
			border-bottom-left-radius: 10px;
			width: 77%;
			color: white;
		}
		form {
			width: 130%;
		}
		.row {
			--bs-gutter-x: 0;
		}
	</style>
	<div class="container">
		<div class="row">
			<div class="content">
				<h1 class="Fichiersprésents">{{totalFichier}}
					Fichiers présents</h1>
			</div>
			{% for AllFichier in AllFichiers %}
				<div class="col-3">
					<img class="adminImgFichier" src="{{ asset ('assets/upload/images/' ~ AllFichier.images)}}">
					<h4>{{AllFichier.nom}}</h4>
					<p>{{AllFichier.description}}</p>
					<form method="post" action="{{ path('admin_fichiers_delete', {'id': AllFichier.id}) }}" onsubmit="return confirm('Etes vous sur de vouloir supprimer ce fichier ?');">
						<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ AllFichier.id) }}">
						<button class="fichierdelete">Supprimer le fichier</button>
					</form>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
