{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block main %}

	<style>
		.content-header {
			display: none;
		}
		.content-wrapper {
			width: 100%;
			background-image: url('https://images.pexels.com/photos/403575/pexels-photo-403575.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
			background-size: cover;
		}
		.content {
			margin-top: 5%;
			text-align: center;
		}
		.AdminUser {
			background-color: rgba(169, 169, 169, 0.4);
			display: flex;
			flex-direction: column;
			align-items: center;
			text-align: center;
			margin: 1%;
			padding: 2% 2% 0;
			border-radius: 10px;
		}
		.row {
			width: 85%;
			margin: 10% auto;
			display: flex;
			flex-direction: row;
		}
		h1 {
			font-weight: bold;
			font-size: 3rem;
		}
		.buttonDelete {
			background-color: #AB0104;
			border: none;
			padding: 6%;
			border-bottom-right-radius: 10px;
			border-bottom-left-radius: 10px;
			width: 100%;
			color: white;
		}
		form {
			width: 130%;
		}
		img {
			width: 50%;
			border-radius: 50%
		}
	</style>
	<div class="containerUser">
		<div class="content">
			<h1 class="UtilisateursInscrits">Utilisateurs Inscrits</h1>
		</div>
		<div class="row">
			{% for AllUser in AllUsers %}
				<div class="col col-2 AdminUser">
					<img src="{{ asset ('assets/upload/photosUsers/' ~ AllUser.avatar)}}" alt="">
					<h4>{{AllUser}}</h4>
					<p>{{AllUser.mail}}</p>
					<form method="post" action="{{ path('admin_user_delete', {'id': AllUser.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
						<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ AllUser.id) }}">
						<button type="button" class="buttonDelete">Supprimer</button>
					</form>

				</div>
			{% endfor %}
		</div>

	</div>
</div>{% endblock %}
