{% extends 'base.html.twig' %}

{% block title %}Hello BibliothequeController!
{% endblock %}

{% block body %}
	<div class="Bibliotheque">
		<div class="STL">
			<h1>Bibliothèque d'impressions 3D</h1>
		</div>
		<div class="Search">
			<div class="row">
				<div class="col-4">
					<select class="btn btn-secondary btn-lg">
						{% for categorys in category %}
							<option class=" waves-effect waves-light" data-groups="{{categorys.id}}">{{categorys.category}}</option>
						{% endfor %}
					</select>
				</div>
				<div class="col-4">
					<form class="inputSearch" action="{{ path ('bibliotheque') }}">
						<input type="text" class="form-control" placeholder="Recherche" id="searchInput" type="search" name="searchInput" aria-label="Search">
						<button type="submit" class="btn btn-secondary btn-lg">Rechercher</button>
					</form>
				</div>
				{% if (app.user)%}
					<div class="col-3">
						<a href="{{ path ('user_index')}}">
							<button type="button" class="btn btn-secondary btn-lg">Ajout de fichier</button>
						</a>
					</div>
				{% else %}
					<div class="col-3">
						<a href="{{ path ('app_register')}}">
							<button type="button" class="btn btn-secondary btn-lg">Ajout de fichier</button>
						</a>
					</div>
				{% endif %}
			</div>
		</div>

		<div class="card-group">
			<div class="row">
				{% for message in app.flashes('success') %}
					<div class="messagemodif">
						<div class="alert alert-success" id="alertemodif">
							{{ message }}
						</div>
					</div>
				{% endfor %}
				{% for fichierSTL in fichiersSTL %}
					<div class="card col-sm-12 col-md-6 col-lg-3" data-groups='["all", "{{fichierSTL.category.id}}"]'>
						<a href="{{ path ('fichiers_show', {id : fichierSTL.id})}}">
							<img src={{ asset ('assets/upload/images/' ~ fichierSTL.images)}} class="card-img-top" alt="..."/>
						</a>
						<div class="card-body">
							<h5 class="card-title">{{fichierSTL.nom}}</h5>
							<p class="card-text">{{fichierSTL.description}}</p>
							{% set voteByFichier = 0 %}
							{% for vote in votes %}
								{% if (vote.fichier.id) == (fichierSTL.id) %}
									{% set voteByFichier = voteByFichier + 1 %}
								{% endif %}
							{% endfor %}
							<div class="likeBibli">
								<p class="nbrLikeCard">
									<small class="text-muted">{{voteByFichier|last ~ ' likes'}}</small>
								</p>
								<img src="{{ asset ('assets/images/heart.png')}}" class="heartCard">
							</div>

						</div>
					</div>
				{% endfor %}
			</div>
		</div>

	</div>
{% endblock %}
