<div class="form">
	{{ form_start(form) }}
	<div class="Depot">
		<h1>Modification de fichiers *</h1>
		<div class="text">
			<p>Déposez ici votre dossier de fichiers STL comprenant :
				<br>
				- Le fichier STL
				<br>
				-Image(s) de la modélisation
				<br>
				ou
				<br>
				- Image du rendu imprimé (facultatif)</p>
			<p class="CategorieLabel">Choisissez la catégorie de votre fichier</p>
			{{ form_widget(form.category) }}
		</p>
	</div>
	<div class="col-12">
		<p>Nom</p>
		{{ form_widget(form.nom) }}
	</div>
	<br>
	<div class="col-12">
		<p>Description</p>
		{{ form_widget(form.description) }}
	</div>
	<br>
	<div class="col-12 File">
		<p class="GetFile">Fichier STL</p>
		<div class="mb-3">
			{{ form_widget(form.fichierSTL) }}
		</div>
	</div>
	<div class="col-12 d-flex justify-content-center listFile">
		{% for fichierSTL in fichier.fichierSTL %}
			<a class="btn mx-2 deleteFileBtn" id="{{fichierSTL}}" data-fichier-id="{{fichier.id}}">
				<i class="fas fa-trash-alt" style='font-size:20px;color:red'></i>
				{{fichierSTL}}
				<p class="">Supprimer</p>
			</a>
		{% endfor %}
	</div>
	<br>
	<div class="col-12 Image">
		<p class="GetImage">Image de rendu d'impression</p>
		<div class="mb-3">
			{{ form_widget(form.images) }}
		</div>
	</div>
	<br>
	<button type="submit" class="btn btn-success">Validé mes modifications</button>
	<div class="conditions">
		<p>* Les fichiers déposés pourront etre supprimés par l'administrateur en cas de contenu indésirables</p>
	</div>
</div>
{{ form_end(form) }}
