{{ form_start(form) }}

<div class="Depot">
	<h1>Dépôt de fichiers *</h1>
	<div class="text">
		<p>Déposez ici votre dossier de fichiers STL comprenant :
			<br>
			- Le fichier STL
			<br>
			-Image(s) de la modélisation
			<br>
			- Image du rendu imprimé (facultatif)</p>
		<p class="CategorieLabel">Choisissez la catégorie de votre fichier</p>
		{{ form_widget(form.category) }}
	</p>
</div>
<div class="col-12">
	{{ form_widget(form.nom) }}
</div>
<br>
<div class="col-12">
	{{ form_widget(form.description) }}
</div>
<br>
<div class="row">
	<div class="col-6 File">
		<p class="GetFile">Fichier(s) STL</p>
		<div class="mb-3">
			{{ form_widget(form.fichierSTL) }}
		</div>
	</div>
	<br>
	<div class="col-6 Image">
		<p class="GetImage">Image de rendu d'impression</p>
		<div class="mb-3">
			{{ form_widget(form.images) }}
		</div>
	</div>
</div>
<br>
<button type="submit" class="btn btn-success">Dépôt de mon fichier</button>
<div class="conditions">
	<p>* Les fichiers déposés pourront etre supprimés par l'administrateur en cas de contenu indésirables
	</p>
</div></div>{{ form_end(form) }}
